.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 8rem;
  padding-inline: 4rem;
  position: relative;
  border-bottom: thin solid black;
}

.home-link {
  text-decoration: none;
  color: #777;
  font-size: 5rem;
  font-weight: bolder;
  margin-block: -2rem;
  background-image: linear-gradient(to right, cadetblue, sienna);
  background-clip: text;
  transition: 0.3s;
}

.home-link:hover {
  color: #7770;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - 8rem);
}

.nav {
  display: flex;
  width: 16rem;
  justify-content: space-between;
}

.nav p {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  transition: 0.3s;
  font-variation-settings: "wght" 400;
}

.nav button.next:hover {
  background-color: #5f9ea0bb;
}

.nav button.back:hover {
  background-color: #a0522ddd;
}
