.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: relative;
  border-bottom: thin solid black;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  width: 16rem;
  justify-content: space-between;
}

.nav p {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 5px;
}
