.wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  border: thin solid black;
  border-radius: 5px;
  padding: 1rem;
  width: 24rem;
  height: 4rem;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.selected {
  display: flex;
  gap: 1rem;
}

.right {
  height: 4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.options {
  position: absolute;
  top: 100%;
  background-color: white;
  border-bottom: thin solid black;
  border-left: thin solid black;
  border-right: thin solid black;
  border-radius: 0px 0px 5px 5px;
}

.options > p.visible {
  opacity: 1;
  translate: 0;
  pointer-events: all;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-block: 0.25rem;
  padding-right: 4rem;
  transition: 0.3s;
}

.options > p.visible:hover {
  background-color: #ddd;
}

.close {
  cursor: pointer;
  padding-inline: 0.25rem;
  border-radius: 5px;
  scale: 0.7;
}

.close:hover {
  background-color: #f55;
}

.single-selected {
  background-color: #ddd;
  padding: 0.2rem;
  padding-right: 0;
  border-radius: 5px;
  display: flex;
  font-weight: bold;
}

.break {
  display: flex;
  width: 0.8px;
  background-color: black;
  height: 100%;
}

.toggle {
  rotate: 180deg;
  cursor: pointer;
}

.drop {
  cursor: pointer;
  rotate: 0;
}

.drop,
.toggle {
  padding: 0.5rem;
  border-radius: 5px;
}

.toggle:hover,
.drop:hover {
  background-color: #ddd;
}
