.wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  border: thin solid black;
  border-radius: 5px;
  padding: 1rem;
  width: 22rem;
  height: 4rem;
  align-items: center;
  background-color: white;
}

.selected {
  display: flex;
  gap: 1rem;
}

.right {
  display: flex;
  gap: 0.5rem;
}

.options {
  position: absolute;
  top: 100%;
}

.options > p {
  cursor: pointer;
  opacity: 0;
  translate: 0 -30px;
  transition: 0.3s;
}

.options > p.visible {
  opacity: 1;
  translate: 0;
}

.close {
  cursor: pointer;
  padding-inline: 0.25rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.close:hover {
  background-color: #f55;
}

.single-selected {
  background-color: #ddd;
  padding: 0.2rem;
  border-radius: 5px;
  display: flex;
  gap: 0.3rem;
}

.break {
  display: flex;
  width: 1px;
  background-color: black;
}

.toggle {
  rotate: 180deg;
  cursor: pointer;
  padding-inline: 0.25rem;
  border-radius: 5px;
}

.drop {
  cursor: pointer;
  padding-inline: 0.25rem;
  border-radius: 5px;
  rotate: 0;
}

.toggle:hover,
.drop:hover {
  background-color: #ddd;
}
