.section {
  position: relative;
  overflow-y: scroll;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  position: absolute;
  right: 2rem;
  top: 2rem;
  gap: 1px;
  padding-bottom: 2rem;
}

.month > span {
  padding-bottom: 1rem;
}

.name {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
